.container-fluid{
    margin: 0 auto
}

.icons {

}

.jumb {
    margin-top: 3em;
}

.jumb img {
    width: 30%;
    height: 30%;
    margin-top: -5px;
    margin-right: -5px;
}
.head h1 {
    margin-top: -30px;
    margin-bottom: -2px;
    margin-right: 1em;
}

ul.topnav {
    list-style-type: none;
    margin: -1.5em 0 0 0;
    padding: 10px;
    font-size: 20px;
    overflow: hidden;
    width: 83em;
    height: 80px;
    /*background-color: rgb(199, 206, 212);*/
    border-radius: .5em;
  }
  
  ul.topnav li {float: left; list-style-type: none;}
  
  ul.topnav li a {
    display: block;
    color: teal;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: rgb(201, 187, 187); padding: 10px}
  
  ul.topnav li a.active {background-color: whitesmoke; border-radius: 4px;}
  
  
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

.enter {
    margin-right: 2em;
    float: right;
}

.enter a {
    color: black;
    text-decoration: none;
}

.enter a:hover {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 2em;
}

table {
    width: 100%;
    display: table;
    /*margin: 0;*/
}

.wrap-table100 {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;

}

.limiter {
    width: 100%;
    /*margin: 0 auto;*/
}

.link {
    text-decoration: none;
    color: black
}

.icons {
    float: right;
    /*margin-bottom: -2em;*/
    /*margin-top: -4.5em;*/
    /*padding: 2px*/
    color: #0c081d;
}

.icons a {
    padding: 9px;
    color: teal;
}

.user-icon {
    font-size: 1.9em;
    /*margin-top: 5px;*/
    /*color: teal;*/
    color: #4A5568;
}

.rowed {
    width: 100% !important;
  }

.rowed:hover {
    background-color: #ececff;
}

.dropdown {
    position: relative;
    float: right; margin-right: 3em; margin-top: -8em;
    /* display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(241, 244, 247);
    min-width: 80px;
    height: 7em;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1px 1px;
    /*background-color: teal;*/
    text-decoration: none;
    list-style-type: none;
    display: block;
  }

.dropdown:hover .dropdown-content {display: block; list-style-type: none;}
.dropdown:hover .dropbtn {background-color: #3e8e41; list-style-type: none;}
.dropdown-content a:hover {background-color: #ddd; list-style-type: none;}

.reg {
    width: 20px;
    height: 20px
}

tr:nth-of-type(even) {
    background-color:#ccc;
}