@media only screen and (min-width: 768px) {

    .signupbutton {
        margin-left: 3em;
        width: 10em;
        background-color: teal;
    }

    footer {
        margin-left: 34em;
    }

    .logo {
        margin-left: 5em;
    }

    .gender {
        margin-right: 4em;
    }

    .aff {
        margin-right: 1.2em;
    }
}

.form-group input {
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {

    .logo {
        margin-right: 5em;
    }

    .gender {
        margin-left: 1em;
        margin-bottom: -3px;
        margin-top: -3px;
    }
}

.sign-in-footer {
    width: 20em;
}

.signlogo{
    width: 8em;
    margin-left: 41em;
}