body {
    font-family: 'Roboto Condensed';
    background-image: url('../images/white.jpg');
    /* background-color: antiquewhite; */
    background-repeat: repeat ;
    color: teal ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    max-width: 100%;
    overflow-x: hidden;
    height: auto !important;
    /* overflow-y: hidden; */

}

#header {
    font-style: italic;
}

.submit {
    margin-left: 10em;
}