ol {
    margin-bottom: 5em;
    border-radius: 1em;
    margin-right: 1em;
    padding: 0.5em;
    max-width: 50em;
}

li {
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 9px;
    
}

.instructions {
    margin-left: 25em;
    margin-right: 20em;
}

.submission {
    margin-left: 25em;
    border: 5px solid rgb(201, 182, 182);
    width: 50em;
    padding: 10px;
}

.submission p {
    position: relative;
}

.simp {
    margin-left: 13em;
}

.authors {
    margin-top: 1em;
    border: 3px solid rgb(201, 182, 182);
    width: 25em;
}

.linethrough {
    color: grey;
    border: 1px solid;
}

input {
    margin-left: 1em;
}

.authors p {
    margin-left: 3px;
    margin-bottom: -1px;
}

.remove {
    background-color: rgb(240, 34, 34);
    color: white;
    margin-left: 2em;
    border-radius: 90%;
    border: none;
    width: 20px;
    height: 5px;
    padding: 20px;
}

.add {
    background-color: rgb(52, 156, 66);
    color: white;
    margin-left: 2em;
    border-radius: 90%;
    border: none;
    width: 20px;
    height: 5px;
    padding: 20px;
}

.add2 {
    background-color: rgb(52, 156, 66);
    color: white;
    margin-bottom: 3px;
    border-radius: 90%;
    border: none;
    width: 20px;
    height: 5px;
    padding: 20px;
    margin-top: 7px;
}

.sign {
    line-height: 5px;
    text-align: center;
}

.jumbotron {
    background-color: transparent !important;
    margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
    .img {
        margin-left: 10.5em;
    }
    .head {
        margin-top: .5em;
        /*margin-left: 5.5em;*/
    }

    .submit {
        margin-left: 18em; 
    }

    .simp {
        margin-left: 18em;
        font-size: 20px;
    }

    .ta-abstract {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;	
        width: 40em;
    }

    .btnsub {
        margin-left: 15em;
    }
}

@media only screen and (max-width: 600px) {
    .container-fluid{
        max-width: 350px;
        margin: 20px;
    }

    .submit {
        margin-bottom: 5em;
        margin-left: 2em;
    }

    .head {
        margin-left: .5em;
        margin-top: .5em;
    }

    img {
        margin-left: .5em;
    }

    .submission {
        margin-left: -1.5em;
        width: 30em;
        margin-right: 18em;
    }

    .instructions {
        margin-left: 8em;
        margin-right: 40em;
    }

    .simp {
        margin-left: 3em;
    }

    .ta-title {
        width: 21em;
        height: 5em;
    }

    .ta-abstract {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;	
        width: 23em;
        height: 25em;
    }

    .nav-link {
        font-size: 9px;   
    }

    .btnsub {
        margin-left: 7em;
    }
   
}

.ta-abstract {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    /* width: 60%; */
}

.nav-link {
    text-decoration: none;
    color: rgb(240,172,175);
    font-size: 15px
    
}
.nav-link :focus, :hover, :visited, :link, :active {
    text-decoration: none;
    /*text-decoration-style: none;*/
}

.btnsub {
    background-color: #0c081d;
    margin-top: 1em;
    color: white;
    width: 5em;
    height: 1.2em;
    border-radius: 4px;
    font-size: 20px;
    margin-right: 10em;
    font-family: "Open Sans";
}